
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Kmel</title>
	<link rel="stylesheet" href="/layout.css">
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
</head>


<body>
	<div class="header">
		<h1>Kmel Blogging</h1>
		<section class="navbar">
			<div>
				<a href="/" class="btn btn-primary">Home</a>
				<a href="/about" class="btn btn-primary">About Me</a>
				<a href="/contact" class="btn btn-primary">Contact</a>
			</div>
			<div>
				{{#if isLoggedIn}}
					<form action="/logout" method="POST">
						<input type="hidden" name="_csrf" value="{{ _csrf }}">
						<input type="submit" value="Log Out" class="btn btn-primary">
					</form>
				{{else}}
					<form action="/login" method="GET" >
						<input type="submit" value="Log In" class="btn btn-primary">
					</form>
				{{/if}}
			</div>
		</section>
		<div class="row">
			<div class="col-3 col-s-3 menu" style="background-color: rgb(114, 241, 114);">
				<ul>
					<li>
						<a href="/blogs">Blogs</a>
						{{#if isLoggedIn}}
							<ul>
								<li>
									<a href="/blogs/create">Create Blog</a>
								</li>
							</ul>
						{{/if}}
					</li>
					<li>
						<a href="/followers">Followers</a>
						<ul>
							<a href="/followers/create">Subscribe</a>
						</ul>
					</li>
					<li>
						<a href="/comments">Comments</a>
					</li>
				</ul>
  			</div>
			<div class="col-9 col-s-9" style="text-align: justify;">
				<main>{{{body}}}</main>
			</div>
		</div>
	</div>
</div>
<div class="footer">
  	Developed by Meles 2021 |
	<a href="/about" style="color:rgb(70, 43, 226);">About</a> |
	<a href="/contact" style="color:rgb(70, 43, 226);">Contact</a>
</div>
</body>
</html>
