



<h1>About Kidmel Blogging Site</h1>

<p>
    Kidmel Blogging Site was developed as part of a school project work for the course 
    Web Develeopment Fundamentals in Jönköping University by Meles Kidane. The course 
    administered during the fall semester, where the above mention student attended the 
    course during the fall 2020. As a new blogger, it seems the author have many ideas;
    but bear with me, it might surprise you.
    <br>
    During the launch of the website, the first blog entries will be about education and 
    learning. Of course, as being a student, the author would love to reflect some of his 
    personal experiences which can relate to each one us. Being at school or in out daily 
    life activities, we engage ourselves in some kind of learning process, the same way a 
    one-year old child learns to walk and use words. Apart from the above-mentioned topic, 
    the author would also like to mention here some worth discussing topics. Those topics 
    could be about individual internal peace, aiming for maximal mental health, and destructive 
    habits that are very common these days in majority of us. 
    <br>
    As a reader, users can enjoy the wide details presentation of the blog entry topics as 
    well as engage themselves in communicating back through feedbacks. Feedbacks are going 
    to be only very few words, but if more than one sentence are needed, the user can send 
    it through e-mail to the author. With the aim of engaging users in the blog, the author 
    will ask user to choose a topic of their choice, for the next blog entries. 
    <br>
    Readers satisfaction and the feeling of inclusiveness is the main goal of this website. 
    The author encourages, readers to contact him even for the least of reasons. 
    
</p>