
<h1>Create Comment</h1>

{{#if errors.length}}
    <ul>
      {{#each errors}}
        <li> {{this}}</li>
      {{/each}}
    </ul>
{{/if}}
<form action="" method="POST">
	<div class="form-group">
		<label for="username">Username: </label>
		<input type="text" id="username" name="username" class="form-control">
	</div>
	<div>
		<label for="blogTitle">Blog Title: </label>
		<input type="text" id="blogTitle" name="blogTitle">
	</div> <br>
	<div>
	<label for="comment">New Comment: </label>
	<textarea rows = "8" cols = "130" id="comment" placeholder="Enter Comment" name = "comment"></textarea>
	</div>
	<input type="hidden" name="_csrf" value="{{ _csrf }}">
	<button type="submit" class="btn btn-primary">Send Comment</button>
</form>