

<h1>Contact</h1>

<p>
    <b>Meles Kidane</b><br>
    Torsgatan 25 <br>
    34567, Jönköping <br>
    tel: 076543210
</p>

<h2>Send e-mail to the author Meles Kidane:</h2>

<form action="mailto:kime19lq@student.ju.se" method="post" enctype="text/plain">
Name:<br>
<input type="text" name="name"><br>
E-mail:<br>
<input type="text" name="mail"><br>
Comment:<br>
<input type="text" name="comment" size="100"><br><br>
<!-- if helper -->
<input type="submit" value="Send">
<input type="reset" value="Reset">
</form>