
<h1>Create Comment</h1>

{{> errors errors}}

<form action="" method="POST">
	<div>
		Comment: <input type="text" name="theComment">
	</div> <br><br>
	<input type="submit" value="Create Blog">
</form>
