

<h1>Create Blog</h1>

<form action="/blogs/create" method="POST">
	<div>
		Date: <input type='text' placeholder="date YYYY-MM-DD" name="date">
	</div> <br>
	<div>
		Title: <input type="text" placeholder="Enter Title" name="title">
	</div> <br>
	<div>
        <textarea rows = "8" cols = "130" placeholder="Enter blog" name = "blogEntry"></textarea>
	</div> <br>
	<input type="submit" value="Create New Blog">
</form>