


<h1>Homepage KMeles Blogging</h1>

{{hello}}
<p>Architecture
Give an overview of the components the website consists of (web application, database, web 
browsers, end-users, etc.). Visualize this in a figure and show how the different components 
make use of each other.
After having read this chapter, the reader should have a broad (but shallow) understanding of 
the website's internal structure.
Project KMeles Blogging site development will be divided into four divisions each representing 
a specific box with specific goals. The first division will be the top upper rectangle referred 
as the navigation section. The navigation section displays the title of the project in a large 
and bold font type to act as a façade. Below the title, most important buttons like a link of 
the home page, a link to the about page, a link to contact details page and to the right of it 
will be the login button where the author can login. 

Spectre includes some default styles for typographical elements like headings, paragraphs and blockquotes. The framework is also optimized for Asian fonts. It has a few classes like highlight or lead to make some sections of your text stand out. The following demo shows all these features at once:
You can also add the class table to any <table> element. The framework will then apply basic styling to your table such as padding and border styles to give your table a cleaner default look. It will also style your table’s header row appropriately. You can use the class table-striped to make the table striped and enable hover styles by adding the class table-hover.
This demo illustrates how easy it is to create fancy responsive tables using Spectre:
There are a few classes available for buttons as well. To use the default button styles you need to add the btnclass. You can control the size of buttons using the classes btn-sm, btn-lg and btn-block. The class btn-block will create full width buttons. To group multiple buttons together, you can use the btn-group class on their container.
Spectre also has style rules for common form elements like labels, input fields and textareas giving them a clean and stylish look. To create a horizontal form, you need to add the form-horizontal class to the <form> element. You can then control the width of child elements using one of the classes from col-[1–12]. Please note that the form will be horizontal only if the viewport is at least 840px wide. Making the form elements bigger or smaller is just a matter of adding the classes input-sm/input-lg or select-sm/select-lg.
You can also attach some text or a button to an input element by adding the class input-group to the input container. You will have to add the class input-group-addon to the accompanying text element and input-group-btnto the button element.
A basic form is shown in this demo:
Navigation
Navigation is an integral part of even the most basic websites. Keeping this in mind, Spectre offers three navigation components — the navigation bar, vertical menu and breadcrumbs. The navigation bar can contain elements like a logo, navigation links, buttons and other elements like a search box. By default, the navbar will have a very minimal styling so you don’t have to put in a lot of effort to customize it. Here is the markup to create a basic navigation bar:
Navigation is an integral part of even the most basic websites. Keeping this in mind, 
Spectre offers three navigation components — the navigation bar, vertical menu and breadcrumbs. 
The navigation bar can contain elements like a logo, navigation links, buttons and other 
elements like a search box. By default, the navbar will have a very minimal styling so you 
don’t have to put in a lot of effort to customize it. Here is the markup to create a basic 
navigation bar:
</p>