

<h1>Update Blog</h1>

<form method="POST">
	<div>
		<input type="text" name="date" value="{{blog.date}}">
	</div>
    <div>
		<input type="text" name="title" value="{{blog.title}}">
	</div>
	<div>
        <textarea rows = "8" cols = "130" name = "blogEntry"> {{blog.blogEntry}} </textarea>
	</div> <br>
	<input type="submit" value="Update">
</form>